<table class="table table-hover">
    {{ ckeditor.load_code_theme() }}
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('main.user', username=post.author.username) }}">
                            {{ post.author.username }}
                        </a>
                    </span>
                {% endset %}
                {{ _('%(username)s posted %(when)s',
                    username=user_link, when=moment(post.timestamp).fromNow()) }}
                <br>
                <span id="post{{ post.id }}">{{ post.title }}</span>
                <div>{{post.body | safe }}</div>
                {% if post.author.username == current_user.username %}
                    <span>
                    <a href="edit_post/{{post.id}}" class="btn btn-default">Edit Post</a>
                    <a href="delete_post/{{post.id}}" class="btn btn-default pull-right">Delete</a>
                    </span>
                {% endif %}
            <a href="show_post/{{ post.id }}">Read more...</a>
            </td>
        </tr>
    </table>